name: build

on:
  push:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "**.cs"
      - "**.csproj"

env:
  DOTNET_VERSION: "10.0" # The .NET SDK version to use

jobs:
  build:
    name: build-${{matrix.os}}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore
